{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/nima.css' %}">
    <title>Taomlar ro'yxati</title>
</head>
<body>
    <h1>Taomlar ro'yxati</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.title }}</li>
        {% endfor %}
    </ul>

    <div class="form-box">
        <h2>Yangi taom qo'shish</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Qo'shish</button>
        </form>
    </div>
</body>
</html>