{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Taom shakl</title>
    <link rel="stylesheet" href="{% static 'css/xayir.css' %}">
</head>
<body>
    <div class="delete-box">
        <h2>Taomni ma'lumotlarini o'zgartirish</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Saqlash</button>
            <a href="{% url 'user_list' %}" class="btn btn-cancel">Bekor qilish</a>
        </form>
    </div>
</body>
</html>